.letteringContainer {
	display: flex;
	position: absolute;
	right: 0px;
}

.letteringGroupContainer {
	border: none;
	overflow: scroll;
}

.letteringBox {
	display: flex;
	animation-name: move;
	animation-duration: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	transition: transform 0.2s;
}

.letteringBox:hover {
	animation-play-state: paused;
}

/* @keyframes move {
	0% {
		margin-left: -500px;
	}
	100% {
		margin-left: 50px;
	}
} */
